<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>hello wolrd</title>
    <script type="text/javascript" th:src="@{http://cdn.bootcss.com/jquery/3.1.1/jquery.js}"/>
    <script type="text/javascript">
        function loadHtml() {
            $.ajax({
                     type: "get",
                     dataType: "html",
                     url: "/load",
                     success: function (result) {
                         $('#replace').html(result);
                     },
                     error: function(data) {
                         alert("error:"+data.responseText);
                     }
                 })
        }
    </script>
</head>
<body>
    <button onclick="loadHtml()">哈哈</button>
</body>
<div id="replace">
    </div>
</html>